name: Build, Push, and Deploy Django to ECS...

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: 767397940350.dkr.ecr.ap-south-1.amazonaws.com/gts/gts_django
  IMAGE_TAG: latest
  ECS_CLUSTER_NAME: gts-node-cluster
  ECS_SERVICE_NAME: gts-django-service-task-service-unqq6zcg 
  IAM_ROLE_ARN: arn:aws:iam::767397940350:role/gts-django-git-ecs-deploy-role

permissions:
  id-token: write   
  contents: read 

jobs:
  build-and-push:
    name: Build and Push to ECR
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        run: |
          # This command now builds, tags, and pushes the Django image
          docker build -t ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }} .
          docker push ${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}


  deploy-to-ecs:
    name: Deploy to ECS Fargate
    runs-on: ubuntu-latest
    needs: build-and-push  
    
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.IAM_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Force new deployment on ECS
        id: force-deploy
        run: |
          echo "Forcing new deployment of service: ${{ env.ECS_SERVICE_NAME }} in cluster: ${{ env.ECS_CLUSTER_NAME }}"
          
          # This command now targets the Django service
          aws ecs update-service --cluster ${{ env.ECS_CLUSTER_NAME }} --service ${{ env.ECS_SERVICE_NAME }} --force-new-deployment